@page "/Profile"
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using WebApp.Models
@model WebApp.Pages.Profile.ProfileModel;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager Navigation

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyProfile</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="top_hamburger">
            <a asp-page="../Mainpage/Mainpage">
                <img class="nav_hamburger_logo"
                     src="~/src/logo.png">
            </a>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
        <div id="bar" class="top_menu">
            <a asp-page="../Mainpage/Mainpage" class="top_menu_logo_link">
                <img class="nav_bar_logo" src="~/src/logo.png">
            </a>
            <div class="dropdown_menu">
                <ul class="nav_bar_text">
                    <li><a asp-page="../Mainpage/Mainpage" class="nav_link">Головна</a></li>
                    <li><a asp-page="../Webdesign/Webdesign" class="nav_link">Про web-дизайн</a></li>
                    <li><a asp-page="../Principles/Principles" class="nav_link">Принципи та правила</a></li>
                    <li><a asp-page="../Instruments/Instruments" class="nav_link">Інструменти та ресурси</a> </li>
                    <li><a asp-page="../Trends/Trends" class="nav_link">Тренди web-дизайну</a></li>
                    <li><a asp-page="../AboutUs/AboutUs" class="nav_link">Про нас</a></li>
                    <li><a asp-page="../Profile/Profile" class="nav_link">Мій профіль</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="first_block">
            <div class="block_profile">
                <div class="pre_profile">
                    <img class="profile_photo"
                         src="~/src/profile/img_my_profile_2.png">
                    <p class="text_subtitle">
                        Мій профіль
                    </p>
                </div>
                <div class="profile">
                    <div class="block_data_fields">
                        <p class="text_regular low_color data_text">Ваше ім’я</p>
                        <p class="text_subtitle data_text">@Model.DisplayName</p>
                    </div>
                    <div class="block_data_fields">
                        <p class="text_regular low_color">
                            Ваша електронна
                            пошта
                        </p>
                        <p class="text_subtitle data_text">@Model.Email</p>
                    </div>
                </div>
                <div class="main_buttons">
                    <div class="main_button2 button_color_style2">
                        <a asp-page="../Mainpage/Mainpage" class="text_button">головна</a>
                    </div>
                    <div class="main_button1 button_color_style5 ">
                        <form method="post" asp-page-handler="Logout">
                            <button type="submit" class="text_button">Вийти</button>
                        </form>
                    </div>
                </div>
            </div>

            <p class="main_photo">
                <img class="photo1"
                     src="~/src/profile/img_my_profile.png">
            </p>
        </div>
    </main>
    <script>
        const hamburger = document.querySelector(".hamburger");
        const navMenu = document.querySelector(".top_menu");
        const headMenu = document.querySelector(".header");
        const navLink = document.querySelectorAll(".nav_link");

        hamburger.addEventListener("click", mobileMenu);
        navLink.forEach(n => n.addEventListener("click", closeMenu));
        function mobileMenu() {
            hamburger.classList.toggle("active");
            headMenu.classList.toggle("active");
            navMenu.classList.toggle("active");
        }

        function closeMenu() {
            hamburger.classList.remove("active");
            headMenu.classList.remove("active");
            navMenu.classList.remove("active");
        }
        hamburger.addEventListener("click", toTopFunction);
        function toTopFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>
    <script>
        var mybutton = document.getElementById("myBtn");

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            var pageWidth = document.documentElement.scrollWidth;
            if (pageWidth > 1040) {
                if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }
            else {
                mybutton.style.display = "none";
            }
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.top = "0";
            } else {
                document.getElementById("navbar").style.top = "-200px";
                closeMenu();
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
</body>
</html>