*, *::before, *::after {
    box-sizing: border-box;
}

/* MAIN PAGE*/

.container {
    margin-top: 79px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
}

.title_with_buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main_photo {
    flex: 1;
    display: flex;
    justify-content: right;
}

.photo1 {
    width: 815px;
}

.main_buttons {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 20px;
}

.main_button1 {
    display: inline-flex;
    height: 94px;
    width: 278px;
    align-items: center;
    justify-content: center;
}

.main_button2 {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    height: 95px;
    width: 427px;
}

.text_button {
    color: var(--text_color, #333);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    text-transform: lowercase;
}

@media (max-width: 1744px) and (min-width: 1041px) {
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text {
        align-self: center;
    }

    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .title_with_buttons {
        align-items: center;
    }
}

@media (max-width: 1040px) {
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text {
        align-self: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .title_with_buttons {
        align-items: center;
    }

    .main_text {
        flex: auto;
    }

    .main_photo {
        width: 100%;
        padding-left: 0px;
    }

    .photo1 {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

@media screen and (max-width: 764px) {
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text {
        align-self: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title_with_buttons {
        align-items: center;
    }

    .main_photo {
        padding-top: 0%;
        padding-left: 0%;
        justify-content: center;
        width: 80%;
        height: 80%;
    }

    .photo1 {
        width: 100%;
    }

    .main_buttons {
        justify-content: center;
    }

    .text_button {
        font-size: 20px
    }

    .main_button1 {
        height: 43px;
        width: 46%;
    }

    .main_button2 {
        height: 43px;
        width: 60%;
    }
}
