@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}
.animate{
    display:inline-block;   
}
.animate:hover img.myBtnclass2{ /* а вторая при наведении курсора становится прозрачной */
    opacity:0;
    filter:alpha (opacity=0);
  
}
.myBtnclass1{
    position: fixed; 
    bottom: 86px; 
    right: 86px; 
    width: 86px;
}   
.myBtnclass2{
    position: fixed; 
    bottom: 86px; 
    right: 86px; 
    width: 86px;
}   
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; 
    bottom: 86px; 
    right: 86px; 
    z-index: 99; /* Make sure it does not overlap */
    background: none;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */ 
}
/* MAIN PAGE*/


.container{
    margin-top: 79px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 100px;
}

.title_with_text{
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content:space-around;
}

.main_photo{
    flex:1;
    display: flex;
    justify-content: right;
}
.photo1{
    width: 784px;
}
.main_text{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    float: left;
    padding-right: 19%;
    padding-bottom: 30px;
}

.block_text{
    display: flex;
    flex-direction: column;
    float: left;
    padding-bottom: 30px;
}
.text_subtitle{
    padding-bottom: 5px;
}
.main_buttons {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px 20px;
}

.main_button1 {
    display: inline-flex;
    height: 94px;
    width: 450px;
    align-items: center;
    justify-content: center;
}
.first_block {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block_profile {
    display: flex;
    float: left;
    flex-direction: column;
    gap: 61px 61px;
}

.main_button2{
    align-items: center;
    justify-content: center;
    display: inline-flex;
    height: 94px;
    width: 270px;
}
.text_button{
    color: var(--text_color, #333);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-transform: lowercase;
}

.social_links{
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 26px 94px;
    padding-bottom: 120px;
}
.input_form{
    display: flex;
    flex-direction: column;
    gap: 28px 28px;
    padding-bottom: 211px;
}

.input_field_with_text{
    justify-content: left;
    display: flex;
    flex-direction: column;
    gap: 13px 13px;
}

.input_field{
    width: 100%;
    height: 71px;
    padding-left: 24px;
}


@media (max-width: 1200px) {
    .photo2{
        width: 90%;
    }
}
@media (max-width: 1744px) and (min-width: 1041px){
    
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text{
        align-self: center;
    }
    .container{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center ;
    }
    .title_with_buttons{
        align-items: center;
    }
    .social_links{
        flex-direction: column;
        justify-content: left;
    }
}
@media (max-width: 1040px){
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_title_text {
        font-family: var(--main_text_font);
        font-size: 50px;
        font-style: normal;
        font-weight: 900;
    }
    
    .input_field{
        width: 85%;
        height: 47px;
    }
    .input_form{
        padding-bottom: 51px;
    }
    .text{
        align-self: center;
    }
    
    .container{
        flex-direction: column;
        align-items: center;
    }
    .title_with_buttons{
        align-items: center;
    }
    .main_text{
        flex: auto;
    }
    .photo1{
        display: none;
    }
}
@media screen and (max-width: 764px) {
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text{
        align-self: center;
    }
    .main_title_text {
        font-family: var(--main_text_font);
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
    }
    
    .container{
        flex-direction: column;

        align-items: center;
        justify-content: center ;
    }
    .title_with_buttons{
        align-items: center;
    }
    .main_photo{
        padding-top: 0%;
        padding-left: 0%;
        justify-content: center;
        width: 80%;
        height: 80%;
    }
    .photo1{
        width: 100%;
    }
    .photo2{
        width: 100%;
    }
    .text_button{
        font-size: 20px;
        text-align: center;
    }
    
    .main_button2{
        height: 43px;
        width: 30%;
    }
    .input_field{
        padding-left: 16px;
    }
    .main_button1 {
        height: 43px;
        width: 235px;
    }
    .main_buttons{
        flex-direction:column;
    }
}
